.card-char {
    padding: 5px;
    width: 141px;
    height: 280px;
    cursor: pointer;
}

h4.name-char {
    color: white;
    font-size: 0.8rem;
    text-transform: uppercase;
    padding-top: 10px;
}
